/*SETTINGS*/
@import "./1-settings/couleurs.css";
@import "./1-settings/polices.css";
@import "./1-settings/espacements.css";
@import "./1-settings/utils.css";

/*GENERIC*/
@import "./3-generic/purifie.css";

/*ELEMENTS*/
@import "./4-elements/bouton.css";
@import "./4-elements/input.css";
@import "./4-elements/icone.css";
@import "./4-elements/img.css";
@import "./4-elements/typo.css";
@import "./4-elements/liens.css";
/*OBJECTS*/
@import "./5-objects/connexion.css";
@import "./5-objects/grilles.css";
@import "./5-objects/wrappers.css";

/*COMPONENTS*/
@import "./6-components/texte-photo.css";
@import "./6-components/boite-double.css";
@import "./6-components/caroussel.css";
@import "./6-components/carte.css";
@import "./6-components/pied.css";
@import "./6-components/formulaire.css";
@import "./6-components/entete.css";
@import "./6-components/nav.css";
@import "./6-components/nav-mobile.css";
@import "./6-components/hero.css";
@import "./6-components/vignette.css";
@import "./6-components/banderole.css";
@import "./6-components/modal.css";
@import "./6-components/details.css";
@import "./6-components/product-card.css";
@import "./6-components/graphique.css";
/* @import "./6-components/pagination.css"; */
@import "./6-components/recherche.css";
@import "./6-components/recherche-bouteille.css";
@import "./6-components/barre.css";
@import "./6-components/admin.css";