:root {
    --police-titre: 'Catamaran', sans-serif;
    --police-texte:'Lato', sans-serif;
    --police-logo: 'Poiret One', cursive;

    --police-gras :700;
    --police-xgras :800;
    
    /* Grosseur de police*/
    --police-xp: 0.8em;
    --police-p: 1em;
    --police-m: 1.5em;
    --police-l: 1.8em;

    /* letter-spacing*/
    --police-espace: 3px;
    
}