
.margin-column-10{
    margin: 10px 0;
}

.row-f{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 760px){
    .row-f{
       flex-direction: row;
    }
}
.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.col-4{
    width: 33.33333333%;
    float: left;
}

.w-100{
    width: 100% !important;
}

.w-50{
    width: 50% !important;
}

.w-25{
    width: 50% !important;
}

.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}


.flex-column{
    display: flex;
    flex-direction: column !important;
}