:root {

    --couleur-primaire: white;
    --couleur-secondaire: black;
    --couleur-accent: #9a8d66;
    --couleur-intermediaire-foncee: #27241e;
    --couleur-intermediaire-pale: whitesmoke;
    --couleur-orange: #965e26;
    --couleur-rouge: #bd1717;

    --espace-xp: .5em;
    --espace-p: 1.25em;
    --espace-m: 2em;
    --espace-l: 4em;
    --espace-xl: 6em;

}

.non-modifiable {
    color: mediumblue;
}

body.waiting * {
    cursor: wait;
}

.section-wrapper {
    padding: var(--espace-p) var(--espace-p);
}

@media only screen and (min-width: 760px) {
    .section-wrapper {
        padding: var(--espace-m) var(--espace-m);
    }
}

@media only screen and (min-width: 1024px) {
    .section-wrapper {
        padding: var(--espace-l) var(--espace-l);
    }
}

.nav-mobile-wrapper {
    padding: var(--espace-p) var(--espace-p);
}

@media only screen and (min-width: 760px) {
    .nav-mobile-wrapper {
        padding: var(--espace-p) var(--espace-m);
    }
}

@media only screen and (min-width: 1024px) {
    .nav-mobile-wrapper {
        padding: var(--espace-p) var(--espace-l);
    }
}

.liste-wrapper {
    padding: var(--espace-p) 0;
}

/****************************************************************/

* {
    box-sizing: border-box;
    font-family: var(--police-texte);
}

body {
    background-color: #524E47;
    margin: 0;
    padding: 0;
}

svg {
    fill: #f3f4f6;
    width: 75px;
}

.card {
    display: flex;
    padding: var(--espace-p);
}

.card>*+* {
    margin-left: var(--espace-p);
}

.card .box {
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.card .box h1,
.card .box h3 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.card .box h1 {
    font-size: var(--espace-l);
}

.card .box h3 {
    font-size: var(--espace-p);
}

.card .box p {
    margin: 0 0 1rem;
    padding: 0;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.text-center {
    text-align: center !important;
}

.statis {
    color: #f3f4f6;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 48%;
    }
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 24%;
    }
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

@media (min-width: 992px) {
    .mb-lg-0 {
        margin-bottom: 0 !important;
    }
}

.card {
    background-color: #44413B;
    color: #f3f4f6;
    cursor: pointer;
    height: 140px;
}

.carte-vino.selected,
.err-vino {
    background-color: rgb(126, 0, 63);
    color: #f3f4f6;
}

.carte-bouteille.selected,
.err-bouteille {
    background-color: #04AA6D;
    color: #f3f4f6;
}

.carte-cellier.selected,
.err-cellier {
    background-color: #276880;
    color: #f3f4f6;
}

.carte-usager.selected,
.err-usager {
    background-color: #572780;
    color: #f3f4f6;
}

/**************************************************************************/
body {
    font-family: "Roboto", sans-serif;
}

/* General focus reset */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border-color: transparent;
    box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent;
    outline: 0 none;
    border-radius: 0;
}

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #ddd !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ddd !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ddd !important;
}

h1 {
    font-size: 56px;
    font-weight: 700;
}

.err {
    font-size: 18px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.dev-signature ul {
    margin: 0;
    font-size: 15px;
}

.dev-signature .item-linkedin a {
    color: #2867b2;
}

.dev-signature .item-website a {
    color: #212529;
}

/* Very basic media queries */
@media (max-width: 1200px) {
    table {
        font-size: 12px;
        overflow: hidden;
    }

    h1 {
        font-size: 36px;
    }
}

@media (max-width: 600px) {
    table {
        font-size: 8px;
    }

    .dev-signature {
        justify-content: flex-start !important;
    }
}

.filtre-wrapper {
    background-color: #04AA6D;
    color: white;
    display: flex;
    align-items: center;
    margin: var(--espace-p) 0;
}

.filtre-wrapper.filtre-bouteille {
    background-color: #04AA6D;
    color: #f3f4f6;
}

.filtre-wrapper.filtre-cellier {
    background-color: #276880;
    color: #f3f4f6;
}

.filtre-wrapper.filtre-usager {
    background-color: #572780;
    color: #f3f4f6;
}

.filtre-wrapper.filtre-vino {
    background-color: rgb(126, 0, 63);
    ;
    color: #f3f4f6;
}

.filtre-wrapper>*:first-child {
    margin: 0 var(--espace-p);
}

.filtre-table {
    flex-grow: 1;
    line-height: 1.5;
    padding: var(--espace-xp);
}

.table-wrapper {
    display: flex;
}

.table-wrapper.edition {
    pointer-events: none;
}

.table-wrapper>div {
    width: 100%;
}

.table-wrapper table {
    border-collapse: collapse;
    width: 100%;
}

.table-container {
    max-height: 393px;
}

.table-container table {
    width: 100%;
}

.table-container thead,
.table-container tbody,
.table-container tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-container tbody {
    display: block;
    overflow: auto;
    table-layout: fixed;
    max-height: 180px;
}

.lien-externe {
    display: flex;
    justify-content: space-between;
}

.lien-externe a:link,
.lien-externe a:visited,
.lien-externe a:hover,
.lien-externe a:active {
    color: rgb(0, 0, 238);
}

.lien-externe svg {
    fill: #44413B;
    width: 20px;
}

.table-wrapper table tr:hover .lien-externe svg {
    fill: #ffffff;
}

.table-wrapper table td,
.table-wrapper table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-wrapper table tr {
    background-color: #ffffff;
}

.table-wrapper table tr.selected td {
    background-color: #44413B;
    color: #fff;
}

.table-wrapper table tr:nth-child(even) {
    background-color: #cfcfcf;
}

.table-wrapper table tr:hover {
    background-color: #333;
    color: #ffffff;
}

.table-wrapper table th {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    padding: 0;
    text-align: left;
}

.table-wrapper table.table-bouteille th {
    background-color: #04AA6D;
    color: #f3f4f6;
}

.table-wrapper table.table-cellier th {
    background-color: #276880;
    color: #f3f4f6;
}

.table-wrapper table.table-usager th {
    background-color: #572780;
    color: #f3f4f6;
}

.table-wrapper table.table-vino th {
    background-color: rgb(126, 0, 63);
    ;
    color: #f3f4f6;
}

.table-wrapper table th span {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.detail-wrapper {
    display: flex;
    flex-direction: column;
}

.detail-wrapper>div {
    width: 100%;
}

.detail-wrapper table {
    border-collapse: collapse;
    width: 100%;
}

.detail-wrapper table td,
.detail-wrapper table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.detail-wrapper table tr {
    background-color: #ffffff;
}

.detail-wrapper table tr:nth-child(even) {
    background-color: #cfcfcf;
}

.detail-wrapper table tr:hover {
    background-color: #019879;
    color: #ffffff;
}

.detail-wrapper table th {
    background-color: #04AA6D;
    color: white;
    padding: 0;
    text-align: left;
}

.detail-wrapper table th span {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.groupe-ajouter,
.groupe-modifier,
.groupe-action {
    display: flex;
    margin: var(--espace-p) 0 var(--espace-xp) 0;
    justify-content: flex-end;
}

.groupe-ajouter.hide {
    opacity: 0;
}

.groupe-modifier.hide,
.groupe-action.hide {
    display: none;
}

.groupe-ajouter>*,
.groupe-modifier>*,
.groupe-action>* {
    border: 1px solid #f3f4f6;
    cursor: pointer;
    padding: var(--espace-xp);
}

.groupe-ajouter>*:hover,
.groupe-modifier>*:hover,
.groupe-action>*:hover {
    background-color: #f3f4f6;
    border: 1px solid transparent;
}

.groupe-action>*+* {
    margin-left: var(--espace-p);
}

.btn-confirmer:hover {
    background-color: green;
    border: 1px solid transparent;
}

.btn-annuler:hover {
    background-color: red;
    border: 1px solid transparent;
}

.groupe-ajouter svg,
.groupe-modifier svg,
.groupe-action svg {
    fill: #f3f4f6;
    height: 20px;
    width: 20px;
}

.groupe-ajouter>*:hover svg,
.groupe-modifier>*:hover svg {
    fill: #44413B;
}

.groupe-action>*:hover svg {
    fill: #f3f4f6;
}

.vino-wrapper {
    align-items: center;
    background-color: rgb(126, 0, 63);
    color: white;
    display: flex;
    justify-content: space-between;
    margin: var(--espace-p) 0;
    padding: var(--espace-p);
}

.vino-wrapper.hide {
    display: none;
}

.vino-selection>*+* {
    margin-left: var(--espace-p);
}

.selection-nom-table {
    font-size: larger;
}

#selection-table-vino {
    padding: var(--espace-xp);
}

.bouton-primaire {
    background-color: var(--couleur-primaire);
    border: 1px solid var(--couleur-primaire);
    transition: 0.3s;
    padding: var(--espace-xp);
    color: var(--couleur-secondaire);
    font-weight: 700;
    cursor: pointer;

}

.bouton-primaire:hover {
    border: 1px solid var(--couleur-primaire);
    background-color: var(--couleur-secondaire);
    color: var(--couleur-primaire);

}

.bouton-secondaire {
    background-color: var(--couleur-secondaire);
    border: 1px solid var(--couleur-secondaire);
    transition: 0.3s;
    padding: var(--espace-xp);
    color: var(--couleur-primaire);
    font-weight: 700;
    cursor: pointer;

}

.bouton-secondaire:hover {
    border: 1px solid black;
    background-color: var(--couleur-primaire);
    color: var(--couleur-secondaire);
}


.bouton-danger {
    background-color: var(--couleur-rouge);
    border: 1px solid var(--couleur-rouge);
    transition: 0.3s;
    padding: var(--espace-xp);
    color: var(--couleur-primaire);
    font-weight: 700;
    cursor: pointer;

}

.bouton-danger:hover {
    border: 1px solid var(--couleur-rouge);
    background-color: var(--couleur-primaire);
    color: var(--couleur-rouge);
}