.banderole{
    background-color: var(--couleur-primaire);
    
}
.banderole__contenant{
    color: var(--couleur-primaire);
    text-align: center;
    padding: var(--espace-xp);
    background-color: var(--couleur-secondaire);
    font-size: var(--police-xp);
   
}
