.barre{
    display: flex;
    justify-content: space-between;
    background-color: var(--couleur-accent);
    padding: var(--espace-xp);
    margin-bottom: var(--espace-p);
}

@media only screen and (min-width: 500px){
    .barre {
        padding: var(--espace-p);
    }
}


.barre__contenant{
    display:flex;
}

@media only screen and (min-width: 360px){
    .barre__icones {
        padding-left: var(--espace-xp);
    }
}
.barre--aligne-fin{
    text-align: end;
}
.barre__icone{
    cursor: pointer;
}