.boite-double{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 760px){
    .boite-double{
        flex-direction: row;
        justify-content: space-between;
    }
}

/*Formulaire Login*/
.boite-double__contenant-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--espace-xp);
    
}
@media only screen and (min-width: 760px){
    .boite-double__contenant-form{
        padding: var(--espace-xp) var(--espace-p) var(--espace-xp) var(--espace-xp);
    }
}

@media only screen and (min-width: 760px){
    .boite-double__champs{
        width: 35vw;
    }
}
.boite-double__champs--margin{
    margin-bottom: var(--espace-l);
}
@media only screen and (min-width: 760px){
    .boite-double__champs--margin{
        margin-bottom: 0;
    }
}


/*Texte */
.boite-double__contenant-texte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--espace-m) 0;
    
}
@media only screen and (min-width: 760px){
    .boite-double__contenant-texte{
        padding: var(--espace-xp)  0 var(--espace-xp) var(--espace-p);
    }
}

.boite-double__texte{
    margin-bottom: var(--espace-xp);
    margin-top: var(--espace-p);
}
.boite-double__texte-bouton{
    padding-top: var(--espace-p);
}
.boite-double__texte--couleur{
    color: var(--couleur-accent);
}