
.burger__input[type=checkbox] {
    display: none;
}  

.burger__input[type=checkbox]:checked ~ label > .burger__ouvre {
    display:block;
    z-index: 5;  
}
.burger__ouvre{
    display:none;
    position: absolute;
    background-color: var(--couleur-secondaire);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: var(--espace-xp);
    right: 75%;
    bottom: 20%;
    
}

.burger{
    position: relative;
}

.burger__ouvre a{
    padding: var(--espace-xp) var(--espace-p);
    color:white;
    font-size: var(--police-xp);
}

.burger__ouvre svg:hover{
    fill: var(--couleur-accent);
}

/* Radio */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* icone  */
[type=radio] + i {
    cursor: pointer;
  }
  
  /* checked */
[type=radio]:checked +i {
    outline: 2px solid var(--couleur-accent);
   
  }
  .radio{
      padding-right: var(--espace-xp);
  }