.carte{
    background-color: var(--couleur-intermediaire-pale);
}
.carte__entete{
    padding-bottom: var(--espace-p);
}
.carte__entete-bouton{
    padding-bottom: var(--espace-p);
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 500px) {
    .carte {
        width: 80%;
    }
}
@media only screen and (min-width: 760px) {
    .carte{
        width: 60%;
    }
}
.carte__contenu{
   
    margin-bottom: var(--espace-p);
    padding: var(--espace-xp);
    background-color: white;

}
.carte__contenu:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.carte__liste{
    display: flex;
    justify-content: space-between;
   
    
}
.carte__detail{
    display: flex;
    align-items: center;
 
}
.carte__texte{
    font-size: var(--police-xp);
}
.carte__icone{
    padding-right: var(--espace-xp);
    width: 1.5rem;
}
.carte__titre{
    border-bottom: 1px solid lightgrey;
    margin-bottom: var(--espace-xp);
    justify-content: space-between;
}
.carte__lien{
    color: var(--couleur-secondaire);
}
.carte--aligne-centre{
    align-self: center;
}
.carte__lien-icone:hover{
    fill: var(--couleur-accent);
}
.carte__vertical-icon{
    vertical-align: text-bottom;
}
/*Bouteilles*/
.carte--flex{
    display: flex;
}
.carte__img{
    width: 65px;

}
.carte__description{
    flex-grow:1;
    padding-left: var(--espace-p);
}
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + i {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
[type=radio]:checked +i {
    outline: 2px solid var(--couleur-accent);
  }
