header{
    background-color: var(--couleur-secondaire);
    padding: var(--espace-p) var(--espace-p) 0 var(--espace-p) ;
    

}
@media only screen and (min-width: 760px){
    header{
        padding: var(--espace-p) var(--espace-l) 0 var(--espace-l);
    }
}




.entete__icone{
    fill: var(--couleur-primaire);  
}
.entete__nav{
    display: flex;
    justify-content: right;
    background-color:var(--couleur-secondaire);
}
