.formulaire{
   
}
.formulaire__titre{

}
.formulaire__champs-boite{
    
    padding: var(--espace-xp) 0;
}
.formulaire__champs{
    outline: none;
    border: none;
    border-bottom: 1px solid ;
    transition: 0.3s;
}
.formulaire__champs:focus{
    border-bottom: 1px solid var(--couleur-accent);
}