.graphique__titre{
    padding-bottom: var(--espace-l);
}
.graphique__stitre{
    padding-bottom: var(--espace-p);
}
.graphique--police{
    font-size: var(--police-xp);
    font-weight: var(--police-gras);
}
.graphique{
    border: 1px solid;
    padding: var(--espace-p);
}
@media only screen and (min-width: 1024px) {
    .graphique{
        width: 60%;
    }
}
.graphique li { 
    position: relative;
    display: block; 
}
.graphique .graphique__qte { 
display: block; 
position: absolute; 
top: 0; 
right: 0; 
text-align: right; 
font-weight: bold; 
padding-right: 5px;
}
.graphique li{ 
display: flex; 
position: relative; 
z-index: 2; 
margin: var(--espace-xp) 0;
}
.graphique div{
    min-width: 80px;
}
.graphique .index { 
display: block;  
top: 0; 
left: 0; 
height: 100%; 
background-color: var(--couleur-accent);
text-indent: -9999px; 
overflow: hidden; 

}

.graphique-vertical{
display:table;
table-layout: fixed;   
margin-top: 50px;

}   
.graphique-vertical li{
    position:relative;
    display:table-cell;
    vertical-align:bottom;
    height:200px;
}
.graphique-vertical span{
    margin: 0 var(--espace-xp);
    display: block;
    text-align: center;
}
.graphique-vertical--couleur{
    background-color: #446879 ;
    opacity: 0.7;
}
   
.graphique--police{
    font-size: var(--police-xp);
    padding-left: var(--espace-xp);
}
.graphique--policel{
    font-size: var(--police-xp);
    font-weight: var(--police-gras);
}


.graphique__contenant{
    border: 1px solid;
    padding: var(--espace-p);
    overflow-x: auto;
    white-space: nowrap;
}
@media only screen and (min-width: 1024px) {
    .graphique__contenant{
        width: 60%;
    }
}