.graphique__titre{
    padding-bottom: var(--espace-p);
}
.graphique--police{
    font-size: var(--police-xp);
    font-weight: var(--police-gras);
}
.graphique{
    
}

.graphique li { 
    position: relative;
    display: block; 
}
.graphique .graphique__qte { 
display: block; 
position: absolute; 
top: 0; 
right: 0; 
text-align: right; 
font-weight: bold; 
padding-right: 5px;
}
.graphique li{ 
display: flex; 
position: relative; 
z-index: 2; 
margin: var(--espace-xp) 0;
}
.graphique div{
    width: 30%;
}
.graphique .index { 
display: block;  
top: 0; 
left: 0; 
height: 100%; 
background-color: var(--couleur-accent);
text-indent: -9999px; 
overflow: hidden; 

}

.graphique-vertical{
display:table;
table-layout: fixed;   
margin-top: 50px;

}   
.graphique-vertical li{
    position:relative;
    display:table-cell;
    vertical-align:bottom;
    height:200px;
}
.graphique-vertical span{
    margin: 0 var(--espace-xp);
    display: block;
    text-align: center;
}
.graphique-vertical--couleur{
    background-color: var(--couleur-accent);
}
   
.graphique--policexp{
    font-size: var(--police-xp);
}