.modal{
    background-color: rgba(0,0,0,.9);
    height: 100%;
    margin: 0;
    padding: 6vw;
    transition: opacity .3s ease;
    top: 0;
    width: 100%;
}
.modal--ouvre{
    left: 0;
    opacity: 1;
    pointer-events: all;
    position: fixed;
}
.modal--ferme{
    left: -105vw;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}
.modal__contenu {
    background-color: white;
    left: 50%;
    min-width: 80%;
    padding: var(--espace-p);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__texte {
    padding: var(--espace-p) 0;
}
.modal__input{
   
    border-bottom: 1px solid ;
    transition: 0.3s;
    background-color: var(--couleur-intermediaire-pale);
    padding: var(--espace-xp);
    width: 100%;
}
.modal__input:focus{
    border-bottom: 1px solid var(--couleur-accent);
}