.nav-mobile{
    display: flex;
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: var(--couleur-secondaire);
    z-index:5;
    
    border-top: 1px solid var(--couleur-intermediaire-foncee);
}

@media only screen and (min-width: 1024px){
    .nav-mobile{
        display:none;
    }
}

/* Liste */
.nav-mobile__liste{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Icone */
.nav-mobile__icone{
    fill: var(--couleur-primaire);
}
.nav-mobile__icone-milieu{
    fill: var(--couleur-accent);
}
.nav-mobile__svg{
    width: 1.2rem;
}