.nav{
    display: none;  
}
@media only screen and (min-width: 1024px){
    .nav{
        display: flex;
        color: var(--couleur-primaire);
        justify-content: space-between;
        font-size: var(--police-p);
    }
}
/* || Logo */
.nav__logo{
    font-family: var(--police-logo);
    font-size: var(--police-l);
    color: var(--couleur-primaire);
    
}

/* || Lien */
.nav__liste{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}
.nav__lien{
    color: var(--couleur-primaire);
    text-transform: uppercase;
    
}
.nav__lien:hover{
    color: var(--couleur-accent);
}