.pied{
    background-color: var(--couleur-secondaire);
    color: var(--couleur-primaire);
    bottom:0;
}

/* || nav */
.pied__nav{
    padding-bottom: 70px;
}
@media only screen and (min-width: 1024px){
    .pied__nav{
        display: flex;
        color: var(--couleur-primaire);
        justify-content: space-between;
        padding-bottom: 0;
        
    }
}

/* || Logo*/
.pied__logo{
    font-family: var(--police-logo);
    font-size: var(--police-l);
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--espace-p);
    flex-direction: column; 
  
}

.pied__logo-stitre{
    font-size: 0.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}
@media only screen and (min-width: 1024px){
    .pied__logo-stitre{ 
       padding-top: var(--espace-xp);
     
    }
}

/* || Liste */
.pied__listes{
    display: flex;
    justify-content: space-between;
}
@media only screen and (min-width: 1024px){
    .pied__listes{
       width: 50%;
       
    }
}
.pied__listes-nc{
    display: flex;
    flex-direction: row;
}
@media only screen and (min-width: 1024px){
    .pied__listes-nc{
       
       justify-content: flex-end;
    }
}
.pied__liste{
    display: flex;
    font-size: var(--police-p);
    color: var(--couleur-primaire);
    flex-direction: column;
    line-height: 30px;
    
}

/* || Lien */
.pied__liens{
    color: var(--couleur-primaire);
    cursor: pointer;
    padding: var(--espace-xp);
}
.pied__liens:hover{
    color: var(--couleur-accent);
}

/* || Icone */
.pied__icone{
    fill: var(--couleur-primaire);
}