.pied{
    background-color: var(--couleur-secondaire);
    color: var(--couleur-primaire);
}

/* || nav */
.pied__nav{
    padding-bottom: 70px;
}
@media only screen and (min-width: 760px){
    .pied__nav{
        display: flex;
        color: var(--couleur-primaire);
        justify-content: space-between;
        padding-bottom: 0;
        
    }
}

/* || Logo*/
.pied__logo{
    font-family: var(--police-logo);
    font-size: var(--police-l);
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--espace-p);
  
}
@media only screen and (min-width: 760px){
    .pied__logo{
       flex-direction: column; 
       padding-bottom: 0;
       justify-content: unset;
    }
}
.pied__logo-stitre{
    font-size: 0.8rem;
    letter-spacing: 3px;
    align-self: center;
    text-transform: uppercase;
}
@media only screen and (min-width: 760px){
    .pied__logo-stitre{ 
       padding-top: var(--espace-xp);
     
    }
}

/* || Liste */
.pied__listes{
    display: flex;
    justify-content: space-between;
}
@media only screen and (min-width: 760px){
    .pied__listes{
       width: 50%;
    }
}
.pied__liste{
    display: flex;
    font-size: var(--police-xp);
    color: var(--couleur-primaire);
    flex-direction: column;
    line-height: 27px;
}

/* || Lien */
.pied__liens{
    color: var(--couleur-primaire);
    cursor: pointer;
}
.pied__liens:hover{
    color: var(--couleur-accent);
}

/* || Icone */
.pied__icone{
    fill: var(--couleur-primaire);
}