.t-p{
    background-color: var(--couleur-intermediaire-pale);
    
}
.t-p__titre{
    font-size: var(--police-l);
    
}

@media only screen and (min-width: 760px){
    .t-p__img{
        padding-left: var(--espace-l);
    }
}
.t-p__contenu{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 760px){
    .t-p__contenu{
        flex-direction: row;
    }
}
.t-p__texte{
    padding: var(--espace-m) 0;
    line-height: 30px;
}
.t-p__texte--gras{
    font-weight: var(--police-xgras);
}