.vignette{
    background-color: var(--couleur-primaire);
}
.vignette__entete{
    color: var(--couleur-secondaire);
}
.vignette__wrapper{
    position: relative;
    display: flex;
    overflow: hidden;
    height: 150px;
}
.vignette__img{
    filter: brightness(0.8);
}

.vignette__titre{
    position: absolute;
    color: var(--couleur-primaire);
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    font-size: var(--police-p);
    text-align: center;
    text-transform: uppercase;
}