.bouton{
    background-color: transparent;
    border: none;
}

.bouton-primaire{
    background-color: var(--couleur-primaire);
    border: 1px solid var(--couleur-primaire);
    transition: 0.3s;
    padding: var(--espace-xp);
    color: var(--couleur-secondaire);
    font-weight: 700;
    cursor: pointer;
    
}
.bouton-primaire:hover{
    border: 1px solid var(--couleur-primaire);
    background-color: var(--couleur-secondaire);
    color: var(--couleur-primaire);
   
}

.bouton-secondaire{
    background-color: var(--couleur-secondaire);
    border: 1px solid var(--couleur-secondaire);
    transition: 0.3s;
    padding: var(--espace-xp);
    color: var(--couleur-primaire);
    font-weight: 700;
    cursor: pointer;
   
}
.bouton-secondaire:hover{
    border: 1px solid black;
    background-color: var(--couleur-primaire);
    color: var(--couleur-secondaire);
}


.bouton-danger{
    background-color: var(--couleur-rouge);
    border: 1px solid var(--couleur-rouge);
    transition: 0.3s;
    padding: var(--espace-xp);
    color: var(--couleur-primaire);
    font-weight: 700;
    cursor: pointer;

}
.bouton-danger:hover{
    border: 1px solid var(--couleur-rouge);
    background-color: var(--couleur-primaire);
    color: var(--couleur-rouge);
}