* {
    box-sizing: border-box;
    font-family: var(--police-texte);
    font-size: 16px;
}


/* ELEMENTS */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;

}
figcaption,
figure{
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    margin-top: auto;
}
input{
    outline: none;
    border: none;
}