.section-wrapper{
    padding: var(--espace-m) var(--espace-p) ;
}
@media only screen and (min-width: 760px){
    .section-wrapper{
        padding: var(--espace-l) var(--espace-m);
    }
}
@media only screen and (min-width: 1200px){
    .section-wrapper{
        padding: var(--espace-xl) var(--espace-l);
    }
}